{% extends "base.html" %}

{% block logo %}

  <img src="{{ url_for('static', filename='logo240px.png') }}" alt="logo Flask Babac" class="img-fluid">

{% endblock %}

{% block content %}

  <h1>Search the Cycle Babac catalog</h1>

  <form action="" method="post">
    {{ form.csrf }}
    <div class="form-group input-sm">
      <p>{{ form.search_text.label }}</p>
      <p>
        {{ form.search_text(size=28) }}
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="show_cost_price" name="show_cost_price"">
          <script>
            $('#show_cost_price').click(function(e){
            	if (e.target.checked) {
              	sessionStorage.checked = true;
              } else {
              	sessionStorage.checked = false;
              }
            })
            $( document ).ready(function() {
            	document.querySelector('#show_cost_price').checked = sessionStorage.checked
            });
          </script>
          <label class="custom-control-label" for="show_cost_price">Show cost price?</label><br /><br />
        </div>
        <input type="submit" value="Search" class="btn btn-primary" onclick="$('#loading').toggle();"><br />
      </p>
        <div id="loading" style="display:none;">
          <img src="{{ url_for('static', filename='loading.gif') }}" alt="loading..." /><br />
          Riding through the Cycle Babac catalog...
        </div>
    </div>
    <div class="input submit">
    </div>
  </form>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
     	<p class="error_message">{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <div class="table-responsive">
    {% if search_text %}

      {% if multiple_pages %}
        <p>Lots of items were found. Printing the first {{ list_products|length }} items for <strong>{{ search_text }}</strong> on Cycle Babac. More results can be inspected <a href={{ item_page_url }} target="_blank">here</a>.</p>

      {% elif not multiple_pages and list_products|length >= 1 %}
        <p>{{ list_products|length }} results found for <strong>{{ search_text }}</strong> on Cycle Babac.</p>

      {% else %}
        <p class="error_message">No product found.</p>

      {% endif %}

      <p>You can click on the product number in order to access the product page on Cycle Babac website.</p>
      <table id="resultats" class="stripe hover table table-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Babac #</th>
            <th scope="col">Name</th>
            {% if show_cost_price %}
              <th scope="col">Cost price</th>
            {% else %}
              <th scope="col">Retail price</th>
            {% endif %}

            <th scope="col">In stock?</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          {% for product in list_products %}
            <tr scope="row">
              <td><a href={{ product['page url']}} target="_blank">{{ product['sku'] }}</a></td>
              <td>{{ product['name'] }}</td>
              {% if show_cost_price %}
                <td>{{ "%.2f"|format(product['price']|float) }} $</td>
              {% else %}
                <td>{{ "%.2f"|format(product['price']|float * 2) }} $</td>
              {% endif %}
              <td>{{ product['stock'] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
  <script type="text/javascript">
    $(document).ready(function(){
      $("tr:contains(No)").addClass("text-danger");
      $("tr:contains(Yes)").addClass("text-success");
    });
  </script>
{% endblock %}
