{% extends "base.html" %}


{% block content %}
  <h1>Search the Cycle Babac catalog</h1>

  <form action="" method="post">
    {{ form.csrf }}
    <div class="form-group">
      <p>{{ form.search_text.label }}</p>
      <p>
        {{ form.search_text(size=40) }}
        <input type="submit" value="Search" class="btn btn-primary" onclick="$('#loading').toggle();">
      </p>
        <div id="loading" style="display:none;">
          <img src="{{ url_for("static", filename="loading.gif") }}" alt="" /><br />
          Riding through the Cycle Babac catalog...
        </div>
    </div>
    <div class="input submit">
    </div>
  </form>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
     	<p class="error_message">{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <div class="table-responsive">

    {% if search_text %}

      {% if multiple_pages %}
        <p>Lots of items were found. Printing the first {{ list_products|length }} items for <strong>{{ search_text }}</strong> on Cycle Babac. More results can be inspected <a href={{ item_page_url }} target="_blank">here</a>.</p>

      {% elif not multiple_pages and list_products|length >= 1 %}
        <p>{{ list_products|length }} results found for <strong>{{ search_text }}</strong> on Cycle Babac.</p>

      {% else %}
        <p class="error_message">No product found.</p>

      {% endif %}

      <p>You can click on the product number in order to access the product page on Cycle Babac website.</p>

      <table id="resultats" class="table table-striped table-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Babac #</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">In stock?</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          {% for product in list_products %}
            <tr scope="row">
                <td><a href={{ product['page url']}} target="_blank">{{ product['sku'] }}</a></td>
                <td>{{ product['name'] }}</td>
                <td>{{ product['price'] }} $</td>
                <td>{{ product['stock'] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>


    {% endif %}
  </div>
{% endblock %}
